<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CookingFree</title>
</head>
<body>
  <section class="ftco-section" style="background-color: aqua;">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
    </div>
    </div>
    </div>
    <div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container">
    <a class="navbar-brand" href="index.html">Foodiland</a>
    <div class="social-media order-lg-last">
    <p class="mb-0 d-flex">
      <i class="fa-brands fa-facebook-messenger"></i>
      <i class="fa-brands fa-telegram"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-whatsapp"></i>
    </p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
    <ul class="navbar-nav ml-auto mr-md-3">
    <li class="nav-item active"><a href="Home" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="Recipes" class="nav-link">Recipes</a></li>
    <li class="nav-item"><a href="Blog" class="nav-link">Blog</a></li>
    <li class="nav-item"><a href="Contac" class="nav-link">Contact</a></li>
    <li class="nav-item"><a href="" class="nav-link">About us</a></li>
    </ul>
    </div>
    </div>
    </nav>
    </div>
    <hr>
    </section>
    <section class="home">
      <div class="container">
        <h2>Categories</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="#home" target="_blank">
                <img src="" alt="Lights" style="width:50%;border-top: 30%;">
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ut, eligendi tenetur, quam sunt officia, minima dolore ver.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/w3images/fjords.jpg" target="_blank">
                <img src="https://media.istockphoto.com/id/836012728/fr/photo/dinde-de-no%C3%ABl.webp?b=1&s=170667a&w=0&k=20&c=LRRbuUkIHAfoCrYqBK9d5Ua7qHEyJiveazLtR65YHmM=" alt="Fjords" style="width:100%">
              </a>
              <p>Poulet braise</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <h1  style="text-align: center;">Categories</h1>
    <section class="row justify-content-center">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="" target="_blank">
              <img src="https://cdn.pixabay.com/photo/2023/05/05/11/07/sweet-7972193_1280.jpg" alt="chocolate" style="width:15%;border-radius: 20%;">
              </a>
              <p>chocolate</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="" target="_blank">
              <img src="https://th.bing.com/th/id/OIP.BCwamxvT1m_kjC0ABQd0PQHaFG?rs=1&pid=ImgDetMain" alt="Nature" style="width:25%; border-radius: 20%;">
              </a>
              <p>vegan</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://th.bing.com/th/id/OIP.dkZoPJFoz2Z5Z7JuwSJmVQHaHZ?rs=1&pid=ImgDetMain" target="_blank">
              <img src="https://th.bing.com/th/id/OIP.dkZoPJFoz2Z5Z7JuwSJmVQHaHZ?rs=1&pid=ImgDetMain" alt= "lunch" style="width:25%;border-radius: 20%;">
              </a>
              <p>Lunch</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://th.bing.com/th/id/OIP.8fdrKXoDbFCXOQwxXI9J5QHaKN?rs=1&pid=ImgDetMain" target="_blank">
              <img src="https://th.bing.com/th/id/OIP.8fdrKXoDbFCXOQwxXI9J5QHaKN?rs=1&pid=ImgDetMain" alt="Fjords" style="width:25%; border-radius: 20%;">
              </a>
              <p>dessert</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://th.bing.com/th/id/OIP.Mt-68Vbrlu9S0m4vqfk5JwHaE8?rs=1&pid=ImgDetMain" target="_blank">
              <img src="https://th.bing.com/th/id/OIP.Mt-68Vbrlu9S0m4vqfk5JwHaE8?rs=1&pid=ImgDetMain" alt="Fjords" style="width:25%;border-radius: 20%;">
              </a>
              <p>Meat</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://th.bing.com/th/id/OIP.tcc800da78jQ-bUHwEBzMQHaE8?rs=1&pid=ImgDetMain" target="_blank">
              <img src="https://th.bing.com/th/id/OIP.tcc800da78jQ-bUHwEBzMQHaE8?rs=1&pid=ImgDetMain" alt="Fjords" style="width:25%; border-radius: 20%;">
              </a>
              <p> <img src="" alt="">breakfast</p>
          </div>
        </div>
      </div>
    </section>
    <section class="recipes" class="row justify-content-center">

      <H2 style="text-align: center">simple and tasty recipes</H2>
      <p style="text-align: center">Lorem ipsum dolor s animi ducimus quibusdam labore odio nisi ex molestias dolore ipsa, at iste? Deserunt, cupiditate sed.</p>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://th.bing.com/th/id/OIP.or1iQpZolWG42pey_F65CwAAAA?rs=1&pid=ImgDetMain" target="_blank">
            <img src="https://th.bing.com/th/id/OIP.or1iQpZolWG42pey_F65CwAAAA?rs=1&pid=ImgDetMain" alt="Fjords" style="width:50%;border-radius: 20%; height: auto;">
            <div class="ft" style="display: flex;">
              <i class="fa-solid fa-clock">30mn</i>
            <i class="fa-solid fa-utensils">Nodlie</i></div>
          </a>
            <p>cheese burguer is good</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://th.bing.com/th/id/OIP.73SqkWONoflhAk9KRlxYLAHaE8?rs=1&pid=ImgDetMain" target="_blank">
            <img src="https://th.bing.com/th/id/OIP.73SqkWONoflhAk9KRlxYLAHaE8?rs=1&pid=ImgDetMain" alt="Fjords" style="width:50%;height: auto; border-radius: 20%;">
            <div class="ft" style="display: flex;">
              <i class="fa-solid fa-clock">30mn</i>
            <i class="fa-solid fa-utensils" style="display: flex;">Nodlie</i></div>
          </a>
            <p>salmon with ginger sauce</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://th.bing.com/th/id/OIP.qL3K1xUn6rwbfo1_rN4ISwHaEo?rs=1&pid=ImgDetMain" target="_blank">
            <img src="https://th.bing.com/th/id/OIP.qL3K1xUn6rwbfo1_rN4ISwHaEo?rs=1&pid=ImgDetMain" alt="Fjords" style="width:50%;height: auto;border-radius: 20%;">
            <div class="ft" style="display: flex;">
              <i class="fa-solid fa-clock">30mn</i>
            <i class="fa-solid fa-utensils" style="display: flex;">Nodlie</i></div>
          </a>
            <p>strawberry food is so good for your health</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://th.bing.com/th/id/OIP.v0UkK7fTKBDUajAJ2A_cywHaE8?rs=1&pid=ImgDetMain" target="_blank">
            <img src="https://th.bing.com/th/id/OIP.v0UkK7fTKBDUajAJ2A_cywHaE8?rs=1&pid=ImgDetMain" alt="Fjords" style="width:50%;height: auto; border-radius: 20%;">
            <div class="ft" style="display: flex; text-size-adjust: 10%;">
              <i class="fa-solid fa-clock">30mn</i>
            <i class="fa-solid fa-utensils" style="display: flex;">Nodlie</i></div>
          </a>
            <p>fresh mayonnaise salade</p>
        </div>
      </div>        <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://th.bing.com/th/id/OIP.tRUz7pS825uWfivczb0oegHaE8?rs=1&pid=ImgDetMain" target="_blank">
            <img src="https://th.bing.com/th/id/OIP.tRUz7pS825uWfivczb0oegHaE8?rs=1&pid=ImgDetMain" alt="Fjords" style="width:50%;height: auto;border-radius: 20%;">
            <div class="ft" style="display: flex; text-size-adjust: 10%;">
              <i class="fa-solid fa-clock">30mn</i>
            <i class="fa-solid fa-utensils" style="display: flex;">Nodlie</i></div>
          </a>
            <p> cheken Meat bald</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://th.bing.com/th/id/OIP._-SN1nnGFDO-1hhE_78mfAHaEK?rs=1&pid=ImgDetMain" target="_blank">
            <img src="https://th.bing.com/th/id/OIP._-SN1nnGFDO-1hhE_78mfAHaEK?rs=1&pid=ImgDetMain" alt="Fjords" style="width:50%; height: auto;border-radius: 20%;">
            <div class="ft" style="display: flex; text-size-adjust: 10%;">
              <i class="fa-solid fa-clock">30mn</i>
            <i class="fa-solid fa-utensils" style="display: flex;">Nodlie</i></div>
          </a>
            <p>Good healthy </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://th.bing.com/th/id/R.c55dc3384bf69b86c9cb962a850d514e?rik=4zRR%2bg8E5r8byA&pid=ImgRaw&r=0" target="_blank">
            <img src="https://th.bing.com/th/id/R.c55dc3384bf69b86c9cb962a850d514e?rik=4zRR%2bg8E5r8byA&pid=ImgRaw&r=0" alt="Fjords" style="width:50%;height: auto;border-radius: 20%;">
            <div class="ft" style="display: flex; text-size-adjust: 10%;">
              <i class="fa-solid fa-clock">30mn</i>
            <i class="fa-solid fa-utensils" style="display: flex;">Nodlie</i></div>
          </a>
            <p>fruit pancake with orange</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://www.theseasonedmom.com/wp-content/uploads/2023/09/Sheet-Pan-Herb-Roasted-Chicken-and-Veggies-5-736x1104.jpg" target="_blank">
            <img src="https://www.theseasonedmom.com/wp-content/uploads/2023/09/Sheet-Pan-Herb-Roasted-Chicken-and-Veggies-5-736x1104.jpg" alt="Fjords" style="width:30%; height: auto;border-radius: 20%;">
            <div class="ft" style="display: flex; ">
              <i class="fa-solid fa-clock">30mn</i>
              <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
            </div>
          </a>
            <p>best easy one pot chiken</p>
            
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://th.bing.com/th/id/OIP.SX7Kq5jMETM9kOJ53VQszAHaLH?rs=1&pid=ImgDetMain" target="_blank">
            <img src="https://th.bing.com/th/id/OIP.SX7Kq5jMETM9kOJ53VQszAHaLH?rs=1&pid=ImgDetMain" alt="Fjords" style="width:30%;height:auto;border-radius: 20%;"></a>
             <div class="ft" style="display: flex; text-size-adjust: 10%; ">
              <i class="fa-solid fa-clock">30mn</i>
            <i class="fa-solid fa-utensils" style="display: flex;">Nodlie</i>
          </div>
            <p>creamiest creame chiken </p>
        </div>
      </div>
    </section>
  <section class="deliciousness">
      <div>
      <h1 style="text-align:left;">Everyone can be a chef in their own kitchen</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reprehenderit rem <br>vel consequatur maxime, qui rerum in ducimus <br>quia! Natus, consequatur!</p>
      <img src="https://th.bing.com/th/id/OIP.9fPH45Bo5tXCWVYOQBvXBQHaE7?w=509&h=339&rs=1&pid=ImgDetMain" alt="" style=" width: 20%; height:10% right;display: inline-flex;">

    </div>
    <button type="submit" style="border-radius: 15%;text-decoration:white;" >Learn More</button>
  </section>
  <section class="Foodiland" class="row justify-content-center">
    <h1 style="text-align: center;"> <p>Check out foodieland on<span>&commat;</span>Instagram</p></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, cum mollitia minima quidem, inventore eum, voluptas odit aliquid nisi excepturi reicieodi distinctio cum dolores?</p>
    
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="" target="_blank">
          <img src="https://th.bing.com/th/id/R.494edc6faa406060b4c2bd2976e708ea?rik=zjxnUwv%2f%2fthoxg&pid=ImgRaw&r=0" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="" target="_blank">
          <img src="https://img.freepik.com/free-photo/papaya-salad-ingredients-include-papaya_1150-24822.jpg" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="" target="_blank">
          <img src="https://th.bing.com/th/id/OIP.8hlouLi8SS_cB1kyshScNQHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4"  >
      <div class="thumbnail">
        <a href="https://thumbs.dreamstime.com/b/assortment-thai-food-cooking-ingredients-spices-ingredients-assortment-thai-food-cooking-ingredients-spices-ingredients-107607965.jpg" target="_blank">
          <img src="https://thumbs.dreamstime.com/b/assortment-thai-food-cooking-ingredients-spices-ingredients-assortment-thai-food-cooking-ingredients-spices-ingredients-107607965.jpg" alt="" style="width: 50%; height: 0%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>

    <div>
      <h1 style="text-align:left;">Everyone can be a chef in their own kitchen</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reprehenderit rem <br>vel consequatur maxime, qui rerum in ducimus <br>quia! Natus, consequatur!</p>
      <img src="https://th.bing.com/th/id/OIP.9fPH45Bo5tXCWVYOQBvXBQHaE7?w=509&h=339&rs=1&pid=ImgDetMain" alt="" style=" width: 20%; height:10% right;display: inline-flex;">

    </div>
    <button type="submit" style="border-radius: 15%;text-decoration:white;" >Learn More</button>
  </section>
  <section class="Foodiland" class="row justify-content-center">
    <h1 style="text-align: center;"> <p>Check out foodieland on<span>&commat;</span>Instagram</p></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, cum mollitia minima quidem, inventore eum, voluptas odit aliquid nisi excepturi reicieodi distinctio cum dolores?</p>
    
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="" target="_blank">
          <img src="https://th.bing.com/th/id/R.494edc6faa406060b4c2bd2976e708ea?rik=zjxnUwv%2f%2fthoxg&pid=ImgRaw&r=0" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="" target="_blank">
          <img src="https://img.freepik.com/free-photo/papaya-salad-ingredients-include-papaya_1150-24822.jpg" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="" target="_blank">
          <img src="https://th.bing.com/th/id/OIP.8hlouLi8SS_cB1kyshScNQHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4"  >
      <div class="thumbnail">
        <a href="https://thumbs.dreamstime.com/b/assortment-thai-food-cooking-ingredients-spices-ingredients-assortment-thai-food-cooking-ingredients-spices-ingredients-107607965.jpg" target="_blank">
          <img src="https://thumbs.dreamstime.com/b/assortment-thai-food-cooking-ingredients-spices-ingredients-assortment-thai-food-cooking-ingredients-spices-ingredients-107607965.jpg" alt="" style="width: 50%; height: 0%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <button style="height: 2%; width: 10%; border-radius: 15%; float: inline-start;"> <p>visit our <span>&commat;</span>Instagram </p><i class="fa-brands fa-instagram"></i></button>
  </section>
  <!-- *********** -->
  <section class="trydelicious" class="row justify-content-center">
    <h1 style="text-align: center;">Try this delicious recipes to make your day</h1>
    <p style="float: right;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis similique <br> expedita illo tenetur ipsum dolores eos, fuga quae optio ullam animi veniam perferendis nobis rerum necessitatibus, nam nihil vel.</p>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://feelgoodfoodie.net/wp-content/uploads/2019/02/Mediterranean-Chopped-Salad-12-1024x1536.jpg" target="_blank">
          <img src="https://feelgoodfoodie.net/wp-content/uploads/2019/02/Mediterranean-Chopped-Salad-12-1024x1536.jpg" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="ft" style="display: flex; ">
          <i class="fa-solid fa-clock">30mn</i>
          <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4"  >
      <div class="thumbnail">
        <a href="https://th.bing.com/th/id/OIP.BJw1SI6H0STv6culaWWmJAHaLG?w=683&h=1024&rs=1&pid=ImgDetMain" target="_blank">
          <img src="https://th.bing.com/th/id/OIP.BJw1SI6H0STv6culaWWmJAHaLG?w=683&h=1024&rs=1&pid=ImgDetMain" alt="" style="width: 50%; height: 0%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="ft" style="display: flex; ">
          <i class="fa-solid fa-clock">30mn</i>
          <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.blondelish.com/wp-content/uploads/2018/12/Vegan-Thai-Rice-Salad-Recipe-5.jpg" target="_blank">
          <img src="https://www.blondelish.com/wp-content/uploads/2018/12/Vegan-Thai-Rice-Salad-Recipe-5.jpg" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="ft" style="display: flex; ">
          <i class="fa-solid fa-clock">30mn</i>
          <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4"  >
      <div class="thumbnail">
        <a href="https://th.bing.com/th/id/OIP.hNgt1cD0BDpxb00NUgXhEgHaJQ?w=2048&h=2560&rs=1&pid=ImgDetMain" target="_blank">
          <img src="https://th.bing.com/th/id/OIP.hNgt1cD0BDpxb00NUgXhEgHaJQ?w=2048&h=2560&rs=1&pid=ImgDetMain" alt="" style="width: 50%; height: 0%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="ft" style="display: flex; ">
          <i class="fa-solid fa-clock">30mn</i>
          <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://itsavegworldafterall.com/wp-content/uploads/2021/04/Spring-Roll-in-a-Bowl-5-720x1080.jpg" target="_blank">
          <img src="https://itsavegworldafterall.com/wp-content/uploads/2021/04/Spring-Roll-in-a-Bowl-5-720x1080.jpg" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="ft" style="display: flex; ">
          <i class="fa-solid fa-clock">30mn</i>
          <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4"  >
      <div class="thumbnail">
        <a href="https://bing.com/th?id=OSK.a0ba2d00475fecfadf56a251041c89bb" target="_blank">
          <img src="https://bing.com/th?id=OSK.a0ba2d00475fecfadf56a251041c89bb" alt="" style="width: 50%; height: 0%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="ft" style="display: flex; ">
          <i class="fa-solid fa-clock">30mn</i>
          <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://th.bing.com/th/id/OIP.khQgSqdZJRDskGWQz33CkwAAAA?w=400&h=500&rs=1&pid=ImgDetMain" target="_blank">
          <img src="https://th.bing.com/th/id/OIP.khQgSqdZJRDskGWQz33CkwAAAA?w=400&h=500&rs=1&pid=ImgDetMain" alt="" style="width: 50%; height: 50%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="ft" style="display: flex; ">
          <i class="fa-solid fa-clock">30mn</i>
          <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    <div class="col-md-4"  >
      <div class="thumbnail">
        <a href="https://i.pinimg.com/originals/ff/60/10/ff6010102a334cf4423ac2a35d19b905.jpg" target="_blank">
          <img src="https://i.pinimg.com/originals/ff/60/10/ff6010102a334cf4423ac2a35d19b905.jpg" alt="" style="width: 50%; height: 0%;">
          <div class="ft" style="display: flex;">
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="ft" style="display: flex; ">
          <i class="fa-solid fa-clock">30mn</i>
          <i class="fa-solid fa-utensils " style="display: flex;">Nodlie</i>
        </div>
        </a>
          <p>Liditate consequatur aliquam accusantium harum tempora? Ad culpa dolores esse ab?</p>
      </div>
    </div>
    
  </section>
  <!-- --------------- -->
  <section class="delicioosboss" style=" text-align: center;">
    <h1>deliciousness to your boss</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, inventore accusamus. Tempora cupiditate laboriosam repellat libero inventore. Culpa optio autem, voluptas voluptates quasi repellendus nisi sed, illum, nesciunt id dolorum.</p>
    <form style="display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;">
      <div class="mb-3 mt-3" style="position: -ms-page;">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
      <a class="navbar-brand" href="index.html">Foodiland</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto mr-md-3">
      <li class="nav-item"><a href="Recipes" class="nav-link">Recipes</a></li>
      <li class="nav-item"><a href="Blog" class="nav-link">Blog</a></li>
      <li class="nav-item"><a href="Contac" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="" class="nav-link">About us</a></li>
      </ul>
      </div>
      </div>
      </nav>
      
  </section>
<footer class="py-3 py-md-5 py-xl-6">
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
    </div>
    </div>
    </div>
    <div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container">
    <a class="navbar-brand" href="index.html"></a>
    <div class="social-media order-lg-last">
    <p class="mb-0 d-flex">
    <i class="fa-brands fa-facebook-messenger"></i>
    <i class="fa-brands fa-telegram"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-whatsapp"></i>
    </div>
    <div style="float: inline-start;">&copy;cooking-free
    </div>
    </div>
    </nav>
    </div>
</footer>

<section class="ftco-section" style="background-color: aqua;">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-md-6 text-center mb-5">
  </div>
  </div>
  </div>
  <div class="container">
  <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="container">
  <a class="navbar-brand" href="index.html">Foodiland</a>
  <div class="social-media order-lg-last">
  <p class="mb-0 d-flex">
    <i class="fa-brands fa-facebook-messenger"></i>
    <i class="fa-brands fa-telegram"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-whatsapp"></i>
  </p>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="fa fa-bars"></span> Menu
  </button>
  <div class="collapse navbar-collapse" id="ftco-nav">
  <ul class="navbar-nav ml-auto mr-md-3">
  <li class="nav-item active"><a href="Home" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="Recipes" class="nav-link">Recipes</a></li>
  <li class="nav-item"><a href="Blog" class="nav-link">Blog</a></li>
  <li class="nav-item"><a href="Contac" class="nav-link">Contact</a></li>
  <li class="nav-item"><a href="" class="nav-link">About us</a></li>
  </ul>
  </div>
  </div>
  </nav>
  </div>
  <hr>
  </section>
  <footer class="py-3 py-md-5 py-xl-6">
    <div class="container">
      <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
      </div>
      </div>
      </div>
      <div class="container">
      <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
      <a class="navbar-brand" href="index.html"></a>
      <div class="social-media order-lg-last">
      <p class="mb-0 d-flex">
      <i class="fa-brands fa-facebook-messenger"></i>
      <i class="fa-brands fa-telegram"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-whatsapp"></i>
      </div>
      <div style="float: inline-start;">&copy;cooking-free
      </div>
      </div>
      </nav>
      </div>
  </footer>
</body>
</html>